/*Игровое поле*/
.container{
    margin: 50px auto;
    padding: 7px;
    height: 320px;
    width: 320px;
    background-color: #c7c7c7;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.res_x{
    margin:auto;
    height: 320px;
    width: 320px;
    background-color: #362f63;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #c7c7c7;
    font-size: 50px;
    display: none;
}
.res_x:hover{
    cursor: no-drop;
}
.res_0{
    margin:auto;
    height: 320px;
    width: 320px;
    background-color: #632f3b;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #c7c7c7;
    font-size: 50px;
    display: none;
}
.res_0:hover {
    cursor: no-drop;
}
/*Изменение игровой ячейки*/
.game_field:hover{
    transition: 0.3s;
    box-shadow:0px 0px 9px 1px rgba(102,41,0,1);
    -webkit-box-shadow:0px 0px 9px 1px rgba(102,41,0,1);
    -moz-box-shadow:0px 0px 9px 1px rgba(102,41,0,1);
    background-color: #dba587;
}
/*Игровая ячейка*/
.game_field{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #e8ae8f;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}
.ico_big{
    width: 90px;
    height: 95px;
    padding: 4px;
}
.big{
    width: 100px;
    height: 100px;
    display: flex;
    background-color: #e8ae8f;
    justify-content: center;
    align-items: center;
    display: none;
    cursor: pointer;
}
.big:hover{
    transition: 0.3s;
    box-shadow:0px 0px 9px 1px rgba(102,41,0,1);
    -webkit-box-shadow:0px 0px 9px 1px rgba(102,41,0,1);
    -moz-box-shadow:0px 0px 9px 1px rgba(102,41,0,1);
    background-color: #dba587;
}
a{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #424242;
    text-decoration: none;
    background-color: #89a73b;
    font-size: 20px;
    width: 180px;
    height: 60px;
    border-radius: 7px;
    border-bottom: 4px solid #6b802d;
    font-weight: 600;
    transition: 0.5s;
}
a:hover{
    background-color: #6b802d;
    transition: 0.5s;
    color: #181818;
    font-size: 21px;
}
/*Все инпуты скрыты*/
input{
    display: none;
}
/*.new_game{*/
/*    text-align: center;*/
/*    margin: 20px;*/
/*    background-color: #89a73b;*/
/*    width: 150px;*/
/*}*/
.small{
    width: 35px;
    height: 35px;
    opacity: 0.5;
    transition: 0.5s;
}
.small:hover{
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0.8;
}
input[name="X1"]:checked ~ #big_1_x{
    display: block;
}
input[name="X1"]:checked ~ .game_field_1{
    display: none;
}
input[name="O1"]:checked ~ #big_1_0{
    display: block;
}
input[name="O1"]:checked ~ .game_field_1{
    display: none;
}
/*___________________________________________*/
input[name="X2"]:checked ~ #big_2_x{
    display: block;
}
input[name="X2"]:checked ~ .game_field_2{
    display: none;
}
input[name="O2"]:checked ~ #big_2_0{
    display: block;
}
input[name="O2"]:checked ~ .game_field_2{
    display: none;
}
/*___________________________________________*/
input[name="X3"]:checked ~ #big_3_x{
    display: block;
}
input[name="X3"]:checked ~ .game_field_3{
    display: none;
}
input[name="O3"]:checked ~ #big_3_0{
    display: block;
}
input[name="O3"]:checked ~ .game_field_3{
    display: none;
}
/*___________________________________________*/
input[name="X4"]:checked ~ #big_4_x{
    display: block;
}
input[name="X4"]:checked ~ .game_field_4{
    display: none;
}
input[name="O4"]:checked ~ #big_4_0{
    display: block;
}
input[name="O4"]:checked ~ .game_field_4{
    display: none;
}
/*___________________________________________*/
input[name="X5"]:checked ~ #big_5_x{
    display: block;
}
input[name="X5"]:checked ~ .game_field_5{
    display: none;
}
input[name="O5"]:checked ~ #big_5_0{
    display: block;
}
input[name="O5"]:checked ~ .game_field_5{
    display: none;
}
/*___________________________________________*/
input[name="X6"]:checked ~ #big_6_x{
    display: block;
}
input[name="X6"]:checked ~ .game_field_6{
    display: none;
}
input[name="O6"]:checked ~ #big_6_0{
    display: block;
}
input[name="O6"]:checked ~ .game_field_6{
    display: none;
}
/*___________________________________________*/
input[name="X7"]:checked ~ #big_7_x{
    display: block;
}
input[name="X7"]:checked ~ .game_field_7{
    display: none;
}
input[name="O7"]:checked ~ #big_7_0{
    display: block;
}
input[name="O7"]:checked ~ .game_field_7{
    display: none;
}
/*___________________________________________*/
input[name="X8"]:checked ~ #big_8_x{
    display: block;
}
input[name="X8"]:checked ~ .game_field_8{
    display: none;
}
input[name="O8"]:checked ~ #big_8_0{
    display: block;
}
input[name="O8"]:checked ~ .game_field_8{
    display: none;
}
/*___________________________________________*/
input[name="X9"]:checked ~ #big_9_x{
    display: block;
}
input[name="X9"]:checked ~ .game_field_9{
    display: none;
}
input[name="O9"]:checked ~ #big_9_0{
    display: block;
}
input[name="O9"]:checked ~ .game_field_9{
    display: none;
}
/*___________________________________________*/
/*-x-x-x-*/
/*-@-@-@-*/
/*-@-@-@-*/
#X_1:checked ~ #X_2:checked  ~ #X_3:checked ~ .res_x {
    display: block;
    position: absolute;
}
/*___________________________________________*/
/*-@-@-@-*/
/*-x-x-x-*/
/*-@-@-@-*/
#X_4:checked ~ #X_5:checked ~ #X_6:checked ~ .res_x {
    display: block;
    position: absolute;
}
/*___________________________________________*/
/*-@-@-@-*/
/*-@-@-@-*/
/*-x-x-x-*/
#X_7:checked ~ #X_8:checked  ~ #X_9:checked ~ .res_x {
    display: block;
    position: absolute;
}
/*___________________________________________*/
/*-x-@-@-*/
/*-x-@-@-*/
/*-x-@-@-*/
#X_1:checked ~ #X_4:checked ~ #X_7:checked ~ .res_x {
    display: block;
    position: absolute;
}
/*___________________________________________*/
/*-@-x-@-*/
/*-@-x-@-*/
/*-@-x-@-*/
#X_2:checked ~ #X_5:checked ~ #X_8:checked ~ .res_x {
    display: block;
    position: absolute;
}
/*___________________________________________*/
/*-@-@-x-*/
/*-@-@-x-*/
/*-@-@-x-*/
#X_3:checked ~ #X_6:checked ~ #X_9:checked ~ .res_x {
    display: block;
    position: absolute;
}
/*___________________________________________*/
/*-@-@-x-*/
/*-@-x-@-*/
/*-x-@-@-*/
#X_3:checked ~ #X_5:checked ~ #X_7:checked ~ .res_x {
    display: block;
    position: absolute;
}
/*___________________________________________*/
/*-x-@-@-*/
/*-@-x-@-*/
/*-@-@-x-*/
#X_1:checked ~ #X_5:checked ~ #X_9:checked ~ .res_x {
    display: block;
    position: absolute;
}
/*___________________________________________*/
/*-0-0-0-*/
/*-@-@-@-*/
/*-@-@-@-*/
#O_1:checked ~ #O_2:checked ~ #O_3:checked ~ .res_0 {
    display: block;
    position: absolute;
}
/*___________________________________________*/
/*-@-@-@-*/
/*-0-0-0-*/
/*-@-@-@-*/
#O_4:checked ~ #O_5:checked ~ #O_6:checked ~ .res_0 {
    display: block;
    position: absolute;
}
/*___________________________________________*/
/*-@-@-@-*/
/*-@-@-@-*/
/*-0-0-0-*/
#O_7:checked ~ #O_8:checked  ~ #O_9:checked ~ .res_0 {
    display: block;
    position: absolute;
}
/*___________________________________________*/
/*-0-@-@-*/
/*-0-@-@-*/
/*-0-@-@-*/
#O_1:checked ~ #O_4:checked ~ #O_7:checked ~ .res_0 {
    display: block;
    position: absolute;
}
/*___________________________________________*/
/*-@-0-@-*/
/*-@-0-@-*/
/*-@-0-@-*/
#O_2:checked ~ #O_5:checked ~ #O_8:checked ~ .res_0 {
    display: block;
    position: absolute;
}
/*___________________________________________*/
/*-@-@-0-*/
/*-@-@-0-*/
/*-@-@-0-*/
#O_3:checked ~ #O_6:checked ~ #O_9:checked ~ .res_0 {
    display: block;
    position: absolute;
}
/*___________________________________________*/
/*-@-@-0-*/
/*-@-0-@-*/
/*-0-@-@-*/
#O_3:checked ~ #O_5:checked ~ #O_7:checked ~ .res_0 {
    display: block;
    position: absolute;
}
/*___________________________________________*/
/*-0-@-@-*/
/*-@-0-@-*/
/*-@-@-0-*/
#O_1:checked ~ #O_5:checked ~ #O_9:checked ~ .res_0 {
    display: block;
    position: absolute;
}